<p-table
  #oilTb
  dataKey="oilId"
  [value]="oilList"
  [rows]="10"
  [showCurrentPageReport]="true"
  [loading]="loading.value"
  [paginator]="true"
  [globalFilterFields]="['oilId', 'name', 'type']"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="oilId">
        <div class="flex">
          <p-sortIcon field="oilId"></p-sortIcon>
          ID
        </div>
      </th>
      <th pSortableColumn="name">
        <div class="flex">
          <p-sortIcon field="name"></p-sortIcon>
          Nom
        </div>
      </th>
      <th pSortableColumn="type">
        <div class="flex">
          <p-sortIcon field="type"></p-sortIcon>
          Type
        </div>
      </th>
      <th>
        <div class="flex"></div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="flex">
          <p-columnFilter type="text" field="oilId"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex">
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex">
          <p-columnFilter field="type" matchMode="equals" display="menu">
            <p-dropdown [options]="Oiltypes"></p-dropdown>
          </p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex"></div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-oil>
    <tr>
      <td>#{{ oil.oilId }}</td>
      <td>{{ oil.name }}</td>
      <td>{{ Oiltypes[oil.type] }}</td>
      <td class="flex">
        <div class="m-1">
          <p-button
            (onClick)="edit(oil.oilId)"
            icon="pi pi-pencil"
            styleClass="p-button-rounded p-button-help"
          ></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
